#table1{
    float: left; /* add this */
}
#table2{
    overflow: hidden; /* if you don't want #second to wrap below #first */
    float: center;
}
#table3{
	float: right;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}